<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}La Bouée Corsaire{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}" />
		{% stylesheets filter="lessphp" output="css/bootstrap.css" combine=true
			"less/bootstrap/bootstrap.less"
		%}
			<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% stylesheets filter="scssphp" output="css/font-awesome.css" combine=true
			"scss/font-awesome/font-awesome.scss"
		%}
			<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
	{% block navbar %}
	<!--Barre de navigation-->
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">La Bouée Corsaire</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<!--Connection/Inscription-->
					<li><button class="btn btn-primary btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-xs">Sign In/Register</button></li>
					<!--Réseaux Sociaux-->
					<li><a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-rss-square fa-2x" aria-hidden="true"></i>
	</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	{% endblock %}
		<div class="container-fluid">
			{% block body %}{% endblock %}
			{% block fos_user_content %}{% endblock %}
		</div>
		<script src="{{ asset('js/jquery.min.js') }}"></script>
		{% javascripts filter="jsqueeze" output="js/tooltip.js" combine=true
			"js/bootstrap/tooltip.js"
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% javascripts filter="jsqueeze" output="js/bootstrap.js" combine=true
			"js/bootstrap/*.js"
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% block javascripts %}{% endblock %}

		{% block footer %}
		<!--Footer--->
		<footer>
		  <div class="container">
		    <div class="row">
		      <div class="col-md-4">
		        <ul>
		          <h3><a href="#">BrandName</a></h3>
		          <li><a href="#">Mentions légales</a></li>
		          <li><a href="#">Conditions générales d'utilisations</a></li>
		          <li><a href="#">Copyright</a></li>
		        </ul>

		      </div>
		      <div class="col-md-4">
		<ul>
		  <h3>Nos services</h3>
		  <li>Jardinerie</li>
		  <li>Soutien scolaire</li>
		  <li>Automobile</li>
		</ul>
		      </div>
		      <div class="col-md-4">
		<h3>Contactez-nous</h3>
		<form class="contact" action="index.html" method="post">
		  <input type="text" class="form-control" placeholder="Votre Nom Prénom" required>
		    <input type="mail" class="form-control" placeholder="Votre e-mail" required>
		    <button type="submit" class="btn btn-primary" name="button">Envoyer</button>
<ul>
	<li><a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
	<li><a href="#"><i class="fa fa-rss-square fa-2x" aria-hidden="true"></i>
</ul>
		</form>
		      </div>
		    </div>
		  </div>
		</footer>
	{% endblock %}
	</body>
</html>
