{% extends "base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="home-search">
			<div class="col-xs-7 col-xs-offset-3">
				<div class="input-group">
					<input type="hidden" name="search_param" value="all" id="search_param">
					<input type="text" class="form-control" name="x" placeholder="Rechercher une tâche…">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>
				<a href="/task/list">Liste complète des Besoins</a>
			</div>
		</div>
	</div>

	<!--Explications - Exemples-->
	<section class="row">
		<h2 class="text-center">Le fonctionnement</h2>
		<div class="col-md-10 col-md-push-1 text-center">

			<!--Illustration 1-->
			<div class="row">
				<div class="col-md-3">
					<img src="images/man.png" alt="" />
					<h3>Michael</h3>
				</div>
				<div class="col-md-6">
					<p>
						Michael est un étudiant vivant à Pacé. Il a déjà taillé la haie
						d’Anne pour un quota de deux heures. Mais les a déjà réutilisées
						pour un cours de théatre.
						Il voit qu'Anne  a plusieurs besoins. Mais ne répond pas à la
						plomberie car il ne s’y connait pas non plus.
						Mais il peut proposer de réparer l’ordinateur pour une durée estimée
						à deux heures. Certes il n’est pas expert dans le domaine, mais se
						juge être à un niveau avancé.
					</p>
					<img src="images/stopwatch.png" alt="" />
					<img src="images/no-dollars-accepted.png" alt="" />
					<img src="images/wrenches.png" alt="" />
					<img src="images/hourglass.png" alt="" />
				</div>
				<div class="col-md-3">
					<img src="images/girl.png" alt="" />
					<h3>Anne</h3>
				</div>
			</div>

			<!--Illustration 2-->
			<div class="row">
				<div class="col-md-3">
					<img src="images/girl.png" alt="" />
					<h3>Françoise</h3>
				</div>
				<div class="col-md-6">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>
					<img src="images/stopwatch.png" alt="" />
					<img src="images/no-dollars-accepted.png" alt="" />
					<img src="images/wrenches.png" alt="" />
					<img src="images/hourglass.png" alt="" />
				</div>
				<div class="col-md-3">
					<img src="images/man.png" alt="" />
					<h3>Christian</h3>
				</div>
			</div>

		</div>
	</section>

	<!--Beesoins/Services en-cours-->
	<section class="row">
		<h2 class="text-center">En ce moment</h2>
		<div class="col-md-4 col-md-push-2 list-group">
			{% for task in tasks1 %}
			<a href="/task/show/{{ task.id }}" class="list-group-item">
				<h4>{{ task.title }}</h4><p>{{ task.location }}</p>
			</a>
			{% endfor %}
		</div>
		<div class="col-md-4 col-md-push-2 list-group">
			{% for task in tasks2 %}
			<a href="/task/show/{{ task.id }}" class="list-group-item">
				<h4>{{ task.title }}</h4><p>{{ task.location }}</p>
			</a>
			{% endfor %}
		</div>
	</section>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="js/script.js"></script>
{% endblock %}
