{% extends "base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="home-search">
			<div class="col-xs-4 col-xs-offset-4 text-center">
				<a href="/task/list"><h2><strong>Liste complète des Besoins</strong></h2></a>
			</div>
		</div>
	</div>

		<!--Besoins/Services en-cours-->
		<section class="besoin">
	  <!--Besoins/Services en-cours-->
	    <div class="container">
	        <h2 class="text-center">En ce moment</h2>
	        <div class="row">
								  {% for task in tasks1 %}
	          <div class="col-sm-6 col-md-4">

	            <a href="/task/show/{{ task.id }}" class="thumbnail">
	              <img src="images/task.png" alt="...">
	              <div class="caption">
	                <h3>{{ task.title }}</h3>
	                <p>{{ task.location }}</p>
	              </div>
	            </a>
	          </div>
							  {% endfor %}

{% for task in tasks2 %}
	          <div class="col-sm-6 col-md-4">
						<a href="/task/show/{{ task.id }}" class="thumbnail">
						<img src="images/task.png" alt="...">
						<div class="caption">
							<h3>{{ task.title }}</h3>
							<p>{{ task.location }}</p>
						</div>
						</a>
	          </div>
{% endfor %}





	        </div>
	    </div>
	</section>

	<!--Explications - Exemples-->
	                  <section class="example">
	                      <div class="container">
	                          <div class="row">
	                              <h2 class="text-center">Le fonctionnement</h2>
	                              <!--Illustration 1-->
	                              <div class="col-md-3 text-center">
	                                  <img src="images/man.png" alt="" />
	                                  <h3>Michael</h3>
	                              </div>
	                              <div class="col-md-6 text-center">
	                                  <p>
	                                      Michael est un étudiant vivant à Pacé.Il a déjà taillé la haie d'Anne pour une quota de deux heures. Mais les a déjà réutilisées pour un cours de théatre. Il voit qu'Anne a plusieurs besoins. Mais ne réponds pas à la plomberie car il ne s'y connait pas
	                                      non plus. Mais il peut proposer de réparer l'ordinateur pour une durée estimée à deux heures. Certes il n'est pas expert dans le domaine, mais se juge être à un niveau avancé.
	                                  </p>

	                                  <img src="images/stopwatch.png" alt="" />
	                                  <img src="images/no-dollars-accepted.png" alt="" />
	                                  <img src="images/wrenches.png" alt="" />
	                                  <img src="images/hourglass.png" alt="" />
	                              </div>
	                              <div class="col-md-3 text-center">
	                                  <img src="images/girl.png" class="image-responsive" alt="" />
	                                  <h3>Anne</h3>
	                              </div>
	                          </div>
	                      </div>

	                  </section>


{% endblock %}
