{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}

	<h1>{{ block('title') }}</h1>

	<div class="row">

		{% for thread in threads %}

			<section class="col-md-4">
				<a href="/task/show/{{ thread.transaction.task.id }}"><h2>
					{{ thread.transaction.task.title }}
				</h2></a>

				{% for message in thread.messages %}

					<article class="panel panel-default">

						<div class="panel-heading">
							<a href="/message/show/{{ message.id }}">
								Message envoyé par {{ message.author }}
								à {{ message.dest }}
								le {{ message.date.format('j/m/Y') }}
							</a>
						</div>

						<div class="panel-body">
							<p>{{ message.content }}</p>
						</div>

					</article>

				{% endfor %}

			</section>

		{% endfor %}

	</div>

{% endblock %}
