{% extends 'default/form.html.twig' %}

{% block title %}
	Rédaction d’un nouveau Message
{% endblock %}

{% block form %}

	{{ form_start(form, {'method': 'POST'}) }}

		<div class="form-box">

			<div class="form-top">
				<div class="form-top-left">
					<h3>
						Contacter {{ message.dest }}
						au sujet de {{ message.transaction.task.title }}
					</h3>
					<p>
						Vous pouvez entrer une évaluation du temps nécessaire à remplir
						cette tâche dans le premier champ, et votre message dans le second
						champ.
					</p>
				</div>
				<div class="form-top-right">
					<i class="fa fa-envelope"></i>
				</div>
			</div>

			<div class="form-bottom">

				<div class="form-group">
					{{ form_label(form.duration, null, {'label_attr': {
						'class': 'sr-only'
					}}) }}
					{{ form_errors(form.duration) }}
					{{ form_widget(form.duration, {'attr': {
						'class': 'form-control',
						'placeholder': form.duration.vars.label
					}}) }}
				</div>

				<div class="form-group">
					{{ form_label(form.content, null, {'label_attr': {
						'class': 'sr-only'
					}}) }}
					{{ form_errors(form.content) }}
					{{ form_widget(form.content, {'attr': {
						'class': 'form-control',
						'placeholder': form.content.vars.label
					}}) }}
				</div>

				<button type="submit" class="btn btn-default">Envoyer</button>

			</div>

		</div>

	{{ form_end(form) }}

{% endblock %}
