{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block stylesheets %}

	{{ parent() }}

	{% stylesheets filter="scssphp" output="css/profile.css" combine=true
		"scss/profile.scss"
	%}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
	{% endstylesheets %}

{% endblock %}

{% block title %}Connexion/Inscription{% endblock %}

{% block body %}

	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div class="show-forms">
		<span class="show-login-form active">Connexion</span>
		<span class="show-forms-divider">/</span>
		<span class="show-register-form">Inscription</span>
	</div>

	<form action="{{ path("fos_user_security_check") }}" method="post"
		class="l-form login-form"
	>

		{% if csrf_token %}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		{% endif %}

		<div class="row">

			<div class="col-md-6 col-md-offset-3 toppad">

				<div class="panel panel-info fos_user_user_show">

					<div class="panel-heading">
						<h1 class="panel-title text-center">Connexion</h1>
					</div>

					<div class="panel-body">
						<div class="row">
							<div class="col-md-3" align="center">
								<img alt="avatar" src="{{ asset('images/man.png') }}"
								 class="avatar img-circle img-responsive">
							</div>
							<div class="col-md-9">
								<table class="table table-user-information">
									<tbody>
										<tr>
											<td>
												<label for="username">{{ 'security.login.username'|trans }}</label>
											</td>
											<td>
												<input class="form-control" type="text" id="username" name="_username" value="" required="required" />
											</td>
										</tr>
										<tr>
											<td>
												<label for="password">{{ 'security.login.password'|trans }}</label>
											</td>
											<td>
												<input class="form-control" type="password" id="password" name="_password" required="required" />
											</td>
										</tr>
									</tbody>
								</table>
								<div class="form-group">
									<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
									<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
								</div>
							</div>
						</div>
					</div>

					<div class="panel-footer">
						<button type="submit" class="btn btn-default" id="_submit" name="_submit">
							{{ 'security.login.submit'|trans }}
						</button>
					</div>

				</div>
			</div>
		</div>
	</form>

	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {
		'class': 'fos_user_registration_register r-form register-form'
	}}) }}

		<div class="row">

			<div class="col-md-6 col-md-offset-3 toppad">

				<div class="panel panel-info fos_user_user_show">

					<div class="panel-heading">
						<h1 class="panel-title text-center">Inscription</h1>
						{{ form_errors(form.username) }}
						{{ form_errors(form.email) }}
						{{ form_errors(form.plainPassword.first) }}
						{{ form_errors(form.plainPassword.second) }}
						{{ form_errors(form.name) }}
						{{ form_errors(form.surname) }}
						{{ form_errors(form.adress) }}
						{{ form_errors(form.region) }}
						{{ form_errors(form.city) }}
						{{ form_errors(form.phone) }}
					</div>

					<div class="panel-body">
						<div class="row">
							<div class="col-md-3" align="center">
								<img alt="avatar" src="{{ asset('images/man.png') }}"
								 class="avatar img-circle img-responsive">
							</div>
							<div class="col-md-9">
								<table class="table table-user-information">
									<tbody>
										<tr class="step-0">
											<td>
												{{ form_label(form.username) }}
											</td>
											<td>
												{{ form_widget(form.username, {'attr': {
													'class': 'form-control'
												}}) }}
											</td>
										</tr>
										<tr class="step-0">
											<td>
												{{ form_label(form.email) }}
											</td>
											<td>
												{{ form_widget(form.email, {'attr': {
													'class': 'form-control'
												}}) }}
											</td>
										</tr>
										<tr class="step-0">
											<td>
												{{ form_label(form.plainPassword.first) }}
											</td>
											<td>
												{{ form_widget(form.plainPassword.first, {'attr': {
													'class': 'form-control'
												}}) }}
											</td>
										</tr>
										<tr class="step-0">
											<td>
												{{ form_label(form.plainPassword.second) }}
											</td>
											<td>
												{{ form_widget(form.plainPassword.second, {'attr': {
													'class': 'form-control'
												}}) }}
											</td>
										</tr>
										<tr class="step-1" style="display: none;">
											<td>
												{{ form_label(form.name) }}
											</td>
											<td>
												{{ form_widget(form.name, {'attr': {
													'class': 'form-control'
												}}) }}
											</td>
										</tr>
										<tr class="step-1" style="display: none;">
											<td>
												{{ form_label(form.surname) }}
											</td>
											<td>
												{{ form_widget(form.surname, {'attr': {
													'class': 'form-control'
												}}) }}
											</td>
										</tr>
										<tr class="step-2" style="display: none;">
											<td>
												{{ form_label(form.adress) }}
											</td>
											<td>
												{{ form_widget(form.adress, {'attr': {
													'class': 'form-control'
												}}) }}
											</td>
										</tr>
										<tr class="step-2" style="display: none;">
											<td>
												{{ form_label(form.region) }}
											</td>
											<td>
												{{ form_widget(form.region, {'attr': {
													'class': 'form-control'
												}}) }}
											</td>
										</tr>
										<tr class="step-2" style="display: none;">
											<td>
												{{ form_label(form.city) }}
											</td>
											<td>
												{{ form_widget(form.city, {'attr': {
													'class': 'form-control'
												}}) }}
											</td>
										</tr>
										<tr class="step-2" style="display: none;">
											<td>
												{{ form_label(form.phone) }}
											</td>
											<td>
												{{ form_widget(form.phone, {'attr': {
													'class': 'form-control'
												}}) }}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="panel-footer">
						<button type="button" class="register-submit btn btn-default">
							{{ 'registration.submit'|trans }}
						</button>
					</div>

				</div>
			</div>
		</div>

	{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<script src="{{ asset('js/login.js') }}"></script>

{% endblock %}
