{% extends 'base.html.twig' %}

{% block title %}{{ need.title }}{% endblock %}

{% block body %}
	<h1>{{ block('title') }}</h1>
	<h2>Demandeur</h2>
	<p>{{ need.user.username }}</p>
	<h2>Lieu</h2>
	<p>{{ need.location }}</p>
	<h2>Durée estimée</h2>
	<p>{{ need.hours }} heures</p>
	<h2>Description</h2>
	<p>{{ need.description }}</p>
	
	<a href='/need/list'>Retour à la liste des Besoins</a>
{% endblock %}

