<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Login &amp; Register</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}}">       

        <link rel="stylesheet" href="{{ asset('bootstrap-login-register-forms/assets/font-awesome/css/font-awesome.min.css')}}">

        <link rel="stylesheet" href="{{ asset('bootstrap-login-register-forms/assets/css/form-elements.css')}}">

        <link rel="stylesheet" href="{{ asset('bootstrap-login-register-forms/assets/css/style.css')}}">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{{ asset('bootstrap-login-register-forms/assets/ico/favicon.png')}}">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bootstrap-login-register-forms/assets/ico/apple-touch-icon-144-precomposed.png')}}">
        
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bootstrap-login-register-forms/assets/ico/apple-touch-icon-144-precomposed.png')}}">
        
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bootstrap-login-register-forms/assets/ico/apple-touch-icon-144-precomposed.png')}}">
        
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bootstrap-login-register-forms/assets/ico/apple-touch-icon-144-precomposed.png')}}">

    </head>
    <body>

        

        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>



        <!-- Javascript -->
        <script src="{{ asset('bootstrap-login-register-forms/assets/js/jquery-1.11.1.min.js')}}"></script>
        <script src="{{ asset('bootstrap-login-register-forms/assets/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('bootstrap-login-register-forms/assets/js/jquery.backstretch.min.js')}}"></script>
        <script src="{{ asset('bootstrap-login-register-forms/assets/js/scripts.js')}}"></script>
               
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
</body>
</html>