{% extends 'default/form.html.twig' %}

{% block title %}
	Création d’un nouveau Besoin
{% endblock %}

{% block form %}

	{{ form_start(form, {'method': 'POST'}) }}

		<div class="form-box">

			<div class="form-top">
				<div class="form-top-left">
					<h3>Nouveau Besoin</h3>
					<p>
						Renseignez ci-dessous les informations concernant la tâche que
						vous souhaitez voir réalisée :
					</p>
				</div>
				<div class="form-top-right">
					<i class="fa fa-pencil"></i>
				</div>
			</div>

			<div class="form-bottom">

				<div class="form-group">
					{{ form_label(form.title, null, {'label_attr': {
						'class': 'sr-only'
					}}) }}
					{{ form_errors(form.title) }}
					{{ form_widget(form.title, {'attr': {
						'class': 'form-control',
						'placeholder': form.title.vars.label
					}}) }}
				</div>

				<div class="form-group">
					{{ form_label(form.location, null, {'label_attr': {
						'class': 'sr-only'
					}}) }}
					{{ form_errors(form.location) }}
					{{ form_widget(form.location, {'attr': {
						'class': 'form-control',
						'placeholder': form.location.vars.label
					}}) }}
				</div>

				<div class="form-group">
					{{ form_label(form.level) }}
					{{ form_errors(form.level) }}
					{{ form_widget(form.level, {'attr': {
						'class': 'form-control'
					}}) }}
				</div>

				<div class="form-group">
					{{ form_label(form.description, null, {'label_attr': {
						'class': 'sr-only'
					}}) }}
					{{ form_errors(form.description) }}
					{{ form_widget(form.description, {'attr': {
						'class': 'form-control',
						'placeholder': form.description.vars.label
					}}) }}
				</div>

				<button type="submit" class="btn btn-default">Créer</button>

			</div>

		</div>

	{{ form_end(form) }}

{% endblock %}
