{% extends 'base.html.twig' %}

{% block title %}{{ task.title }}{% endblock %}

{% block body %}
	<h1>{{ block('title') }}</h1>
	<h2>Lieu</h2>
	<p>{{ task.location }}</p>
	<h2>Description</h2>
	<p>{{ task.description }}</p>

	{% if task.user == user %}
		<p><a class='btn btn-default' href='/task/edit/{{ task.id }}'>
			Éditer ce Besoin
		</a></p>
	{% else %}
		<p><a class='btn btn-default' href='/message/new/{{ task.id }}'>
			Se proposer pour remplir ce Besoin
		</a></p>
	{% endif %}

	<p><a class='btn btn-default' href='/task/list'>Retour à la liste des Besoins</a></p>
{% endblock %}

