{% extends 'base.html.twig' %}

{% block stylesheets %}

	{{ parent() }}

	{% stylesheets filter="scssphp" output="css/profile.css" combine=true
		"scss/profile.scss"
	%}
	<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
	{% endstylesheets %}

{% endblock %}

{% block title %}{{ task.title }}{% endblock %}

{% block body %}

	<div class="row">

		<div class="col-md-6 col-md-offset-3 toppad">

			<div class="panel panel-info">

				<div class="panel-heading">
					<h1 class="panel-title text-center">{{ block('title') }}</h1>
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-md-3" align="center">
							<img alt="avatar" src="{{ asset('images/task.png') }}"
							 class="avatar img-responsive">

								{% if task.user == user %}
									<a href="{{ path('task_edit', {'id': task.id}) }}" data-original-title="Edition"
									 data-toggle="tooltip" type="button" class="btn btn-md btn-warning">
										<i class="glyphicon glyphicon-edit"></i>
										Édition
									</a>
								{% endif %}

						</div>
						<div class="col-md-9">
							<table class="table table-user-information">
								<tbody>
									<tr>
										<td><label>Lieu</label></td>
										<td>{{ task.location }}</td>
									</tr>
									<tr>
										<td><label>Informations complémentaires</label></td>
										<td>{{ task.description }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				{% if task.user != user %}
					<div class="panel-footer text-center">
						<a href="{{ path('message_new', {'id': task.id}) }}" class="btn btn-default">
							Se proposer pour remplir ce Besoin
						</a>
					</div>
				{% endif %}

			</div>
		</div>
	</div>

	<p><a href="{{ path('task_list') }}">Retour à la liste des Besoins</a></p>

{% endblock %}
