{% extends 'base.html.twig' %}

{% block title %}Liste des Services{% endblock %}

{% block body %}
	
	<h1>{{ block('title') }}</h1>
	
	<div class="row">
		
		{% for service in services %}
			
			<div class='col-lg-3 col-md-4 col-sm-6'>
				<a href='/service/show/{{ service.id }}'>
					<div class='panel panel-default'>
						<div class="panel-heading">{{ service.title }}</div>
						<div class="panel-body">
							<p>{{ service.description }}</p>
							<p>lieu : {{ service.location }}</p>
						</div>
					</div>
				</a>
			</div>
			
		{% endfor %}
		
	</div>
	
{% endblock %}
