{% extends 'base.html.twig' %}

{% block title %}{{ service.title }}{% endblock %}

{% block body %}
	<h1>{{ block('title') }}</h1>
	<h2>Prestataire</h2>
	<p>{{ service.user.username }}</p>
	<h2>Lieu</h2>
	<p>{{ service.location }}</p>
	<h2>Description</h2>
	<p>{{ service.description }}</p>
	
	<a href='/service/list'>Retour à la liste des Services</a>
{% endblock %}

